services: 
  redis:
    image: "redis:7-alpine"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
  
  qdrant:
    image: qdrant/qdrant:v1.16.2
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"   # REST
      - "6334:6334"   # gRPC
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
